[submodule "contrib/spdlog"]
	path = contrib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest
[submodule "contrib/benchmark"]
	path = contrib/benchmark
	url = https://github.com/google/benchmark
[submodule "contrib/sfml"]
	path = contrib/sfml
	url = https://github.com/SFML/SFML
