debug
*.snap
*.xlog
*.meta
*.pprof
*.test
*.out
*.exe
*.log
.vscode
.idea
.cache
*.deb
.dump
*.retry
*.pem
.settings
*.project
*.swo
*.swp
*.a
*.o
core
.DS_Store
.env
cmake-build-debug
build
.tags
.vs
CMakeSettings.json